@import "tailwindcss";

:root {
  --white: #fdfdfd;
  --black: #0f172a;
  --primary: #3c4d74;
  --secondary: #F78566;
 
}

.primary-rounded {
  @apply rounded-2xl;
}

.ratio {
  @apply max-w-[100rem] mx-auto px-4 sm:px-6
}
